{% extends "layout.html" %}

{% block content %}
	{% from "_formhelpers.html" import render_field %}
		<fieldset>
		<legend>Student Information</legend>
			<form class="grid-form" method=post action="{{ url_for('add_students') }}">
			{{ form.hidden_tag() }}
			 <div data-row-span="4">
				<div data-field-span="1">
					{{ render_field(form.first_name) }}
				</div>
				<div data-field-span="1">
					{{ render_field(form.middle_initial) }}
				</div>
				<div data-field-span="2">
					{{ render_field(form.last_name) }}
				</div>
			</div>
			<div data-row-span="3">
				<div data-field-span="1">
					{{ render_field(form.gender, id="gender")}}
				</div>
				<div data-field-span="1">
					{{ render_field(form.grad_year, placeholder="mm/dd/yyyy") }}
				</div>
				<div data-field-span="1">
					{{ render_field(form.gpa, step="0.01")}}
				</div>
			</div>
			<br>
			<input class="button-blue" type="submit" value="Add">
			</form>
		</fieldset>
{% endblock %}