{% extends "layout.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<fieldset>
<legend>Professor Information</legend>
	<form class="grid-form" action="{{ url_for('add_prof') }}" method="post">
		{{ form.hidden_tag() }}
		<div data-row-span="3">
			<div data-field-span="1">
				{{ render_field(form.name) }}
			</div>
			<div data-field-span="1">
				{{ render_field(form.gender, id="gender")}}			
			</div>
			<div data-field-span="1">
				{{ render_field(form.office) }}
			</div>
		</div>
		<div data-row-span="3">
			<div data-field-span="1">
				{{ render_field(form.hours_start) }}
			</div>
			<div data-field-span="1">
				{{ render_field(form.hours_end) }}
			</div>
		</div>
		<br>
		<input class="button-blue" type="submit" value="Add">
	</form>
</fieldset>
{% endblock %}