{% extends "layout.html" %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <fieldset>
    <legend>Add Grade</legend>
        <form class="grid-form" action="{{ url_for('add_grade', assign_id=assign_id) }}" method="post">
            <div data-row-span="3">
                <div data-field-span="1">
                    {{ render_field(form.score) }}
                </div>
                <div data-field-span="1">
                    {{ render_field(form.student) }}
                </div>
            </div>
            <div data-row-span="3">
                <div data-field-span="3">
                    {{ render_field(form.comment) }}
                </div>
            </div>
            <br>
            <input class="button-blue" type="submit" value="Add">
         </form>
{% endblock %}