{% extends "layout.html" %}

{% block content %}
<fieldset>
<legend>Add Course</legend>
<form class="grid-form" action="{{ url_for('add_course') }}" method="post">
	<div data-row-span="3">
		<div data-field-span="1">
			<label>Course name:</label>
			<input type="text" name="name" required="true">
		</div>
		<div data-field-span="1">
			<label>Course ID:</label>
			<input type="text" name="short_course_id" placeholder="e.g, CS001" required="true">
		</div>
		<div data-field-span="1">
			<label>Credits:</label>
			<input type="number" name="credits" required="true">
		</div>
	</div>
	<div data-row-span="2">
		<div data-field-span="1">
			<label>Lecturer</label>
			<select id="prof.id" name="professor">
				{% for prof in professors %}
				<option value="{{ prof.id }}">{{ prof.last_name + ", " + prof.first_name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<br>
	<input class="button-blue" type="submit" value="Add">
</form>
</fieldset>
{% endblock %}