{% extends "layout.html" %}

{% block content %}
<fieldset>
<legend>Add Course</legend>
<form action="{{ url_for('add_course') }}" method="post">
	<ul>
		<label>Course name:</label>
		<li><input type="text" name="name" required="true"></li>
		<label>Course ID:</label>
		<li><input type="text" name="short_course_id" required="true"></li>
		<label>Credits:</label>
		<li><input type="number" name="credits" required="true"></li>
		<li><input class="button-blue" type="submit" value="Add"></li>
	</ul>
</form>
</fieldset>
{% endblock %}