{% extends "layout.html" %}

{% block content %}
<div class="flakes-actions-bar">
	<a class="action button-gray smaller right" href="{{ url_for('add_course') }}">Add Course</a>
</div>
<table class="flakes-table">
	<colgroup>
		<col span="1" style="width:20px">
		<col span="1" style="width:40%">
	</colgroup>
	<thead>
		<tr>
			<td><input type="checkbox"></td>
			<th>Name</th>
			<th>Course ID</th>
			<th>Credits</th>
		</tr>
	</thead>
	<tbody>
		{% for course in courses %}
		<tr>
			<td><input type="checkbox"></td>
			<td><a href="{{ url_for('course_detail', course_id=course.id) }}">{{ course.name }}</a></td>
			<td>{{ course.short_course_id }}</td>
			<td>{{ course.credits }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}