{% extends "layout.html" %}

{% block content %}
<table class="flakes-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Course ID</th>
			<th>Credits</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for course in courses %}
			<td><a href="{{ url_for('course_detail', course_id=course.id) }}">{{ course.name }}</a></td>
			<td>{{ course.short_course_id }}</td>
			<td>{{ course.credits }}</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
<p><a class="button-green" href="{{ url_for('add_course') }}">Add Course</a></p>
{% endblock %}