{% extends "layout.html" %}

{% block content %}
	<div class="grid-4 gutter-20">
		<div class="span-3">
			<fieldset class="flakes-information-box">
				<legend>Course Information</legend>
					<div class="grid-4">
						<dl class="span-3">
							<dt>Name</dt>
							<dd>{{course.name}}</dd>
						</dl>
					</div>
					<div class="grid-3">
						<dl class="span-1">
							<dt>Course ID</dt>
							<dd>{{ course.short_course_id }}</dd>
						</dl>
						<dl class="span-1">
							<dt>Credits</dt>
							<dd>{{ course.credits }}</dd>
						</dl>
						<dl>
							<dt>Professor</dt>
							<dd><a href="{{ url_for('professor_detail', professor_id=course.professor.id) }}">{{ course.professor.first_name + " " + course.professor.last_name }}</a></dd>
						</dl>				
					</div>
			</fieldset>
		</div>
		<div class="span-1">
			<fieldset class="flakes-information-box">
				<legend>Actions</legend>
				</br>
				<form action="{{ url_for('edit_course', course_id=course.id) }}" method="post">
					<input class="button-darkblue smaller" type="submit" value="Edit Course" />
				</form>
				</br>
				<form action="{{ url_for('add_assignment', course_id=course.id) }}" method="post">
					<input class="button-green smaller" type="submit" value="Add Assignment" />
				</form>
			</fieldset>
		</div>
	</div>
	<div>
	{% if assignments %}
	<table class="flakes-table">
		<colgroup>
			<col span="1" style="width:20px">
			<col span="1" style="width:40%">
		</colgroup>
		<thead>
			<tr>
				<td><input type="checkbox"></td>
				<th>Assignment</th>
				<th>Due Date</th>
				<th>Max Points</th>
				<th>Descritpion</th>
			</tr>
		</thead>
		<tbody>
		{% for assignment in assignments %}
		<tr>
			<td><input type="checkbox"></td>
			<td>{{ assignment.name }}</td>
			<td>{{ assignment.due_date }}</td>
			<td>{{ assignment.max_points }}</td>
			<td>{{ assignment.description }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% endif %}
	</div>
{% endblock %}