<!DOCTYPE html>
<html>
<head>
	<title>Gradebook</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/flakes/css/all.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/gridforms/gridforms/gridforms.css') }}">
</head>
<body>
	<div class="flakes-frame">
		<div class="flakes-navigation">
			<ul>
				<li><a href="{{ url_for('get_students') }}">Students</a></li>
				<li><a href="{{ url_for('get_profs') }}">Professors</a></li>
				<li><a href="{{ url_for('get_courses') }}">Courses</a></li>
				<li><a href="#">Reports</a></li>
			</ul>
		</div>
		<div class="flakes-content">
			<div class="view-wrap">
				{% block content %}
				{% endblock %}

				<div>
					{% for message in get_flashed_messages() %}
						<div class="flakes-message information">{{ message }}</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div> <!-- flakes-frame -->
</body>
</html>
