{% extends "layout.html" %}


{% block content %}
<div class="grid-4 gutter-20">
	<div class="span-3">
		<fieldset class="flakes-information-box">
			<legend>Professor Information</legend>
			<div class="grid-3">
				<dl class="span-1">
					<dt>First Name</dt>
					<dd>{{ prof.first_name }}</dd>
				</dl>
				<dl>
					<dt>Last Name</dt>
					<dd>{{ prof.last_name }}</dd>
				</dl>
			</div>
		</fieldset>
	</div>
</div>
<br>
<table class="flakes-table">
	<thead>
		<tr>
			<th>Courses Taught</th>
		</tr>
	</thead>
	<tbody>
	{% for course in courses %}
		<tr>
			<td><a href="{{ url_for('course_detail', course_id = course.id)}}">{{ course.name }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}