{% extends "layout.html"%}

{% block content %}
<div class="flakes-actions-bar">
	<a class="action button-gray smaller right" href="{{ url_for('add_prof') }}"> Add Professor</a>
</div>
<table class="flakes-table">
	<colgroup>
		<col span="1" style="width:20px">
		<col span="1" style="width:40%">
	</colgroup>
	<thead>
		<tr>
			<td><input type="checkbox"></td>
			<th>Name</th>
			<th>Office Location</th>
			<th>Office Hours</th>
		</tr>
	</thead>
		<tbody>
		{% for prof in profs %}
		<tr>
			<td><input type="checkbox"></td>
			<td><a href="{{ url_for('professor_detail', professor_id=prof.id) }}">{{prof.name }}</a></td>
			<td>{{ prof.office }}</td>
			<td>{{ prof.hours_start}} - {{prof.hours_end }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}