{% extends "layout.html" %}


{% block content %}
<div class="grid-4 gutter-20">
	<div class="span-3">
		<fieldset class="flakes-information-box">
			<legend>Professor Information</legend>
			<div class="grid-3">
				<dl class="span-1">
					<dt>First Name</dt>
					<dd>{{ prof.first_name }}</dd>
				</dl>
				<dl>
					<dt>Last Name</dt>
					<dd>{{ prof.last_name }}</dd>
				</dl>
			</div>
		</fieldset>
	</div>
	<div class="span-1">
		<fieldset class="flakes-information-box">
			<legend>Actions</legend>
			</br>
			<form action="{{ url_for('edit_professor', professor_id=prof.id) }}" method="post">
				<input class="button-darkblue smaller" type="submit" value="Edit">
			</form>
			</br>
			<form action="{{ url_for('delete_prof', professor_id=prof.id) }}" method="post">
				<input class="button-magenta smaller" type="submit" value="Delete"/>
			</form>
		</fieldset>		
	</div>
</div>
<br>
<table class="flakes-table">
	<thead>
		<tr>
			<th>Courses Taught</th>
		</tr>
	</thead>
	<tbody>
	{% for course in courses %}
		<tr>
			<td><a href="{{ url_for('course_detail', course_id = course.id)}}">{{ course.name }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}