{% extends "layout.html" %}

{% block content %}
	<div class="grid-4 gutter-20">
		<div class="span-3">
			<fieldset class="flakes-information-box">
				<div class="grid-4">
					<dl class="span-2">
						<dt>First Name</dt>
						<dd>{{ student.first_name }}</dd>
					</dl>
					<dl class="span-2">
						<dt>Last Name</dt>
						<dd>{{ student.last_name }}</dd>
					</dl>
				</div>
			</fieldset>
		</div>
	</div>
	<table>
		<tr>
			<th>First Name</th>
			<th>Middle Init.</th>
			<th>Last Name</th>
			<th>Graduation Year</th>
			<th>GPA</th>
		</tr>
		<tr>
			<td>{{ student.first_name }}</td>
			<td>{{ student.middle_initial }}</td>
			<td>{{ student.last_name }}</td>
			<td>{{ student.grad_year }}</td>
			<td>{{ student.gpa }}</td>
			<td>
				<form action="{{ url_for('delete_student', student_id=student.id) }}" method="post">
					<input type="submit" value="Delete"/>
				</form>
			</td>
		</tr>
	</table>
{% endblock %}