{% extends "layout.html" %}

{% block content %}
<div class="flakes-actions-bar">
	<a class="action button-gray smaller right" href="{{ url_for('add_students') }}">Add Student</a>
</div>
<table class="flakes-table">
	<colgroup>
		<col span="1" style="width:20px">
		<col span="1" style="width:40%">
	</colgroup>
	<thead>
		<tr>
			<td><input type="checkbox"></td>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	<tbody>
	{% for student in students %}
	<tr>
		<td><input type="checkbox"></td>
		<td><a href="{{ url_for('student_detail', student_id=student.id) }}">{{ student.first_name }}</a></td>
		<td>{{ student.last_name }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
