{% extends "layout.html" %}

{% block content %}
	<table>
		<tr>
			<th>First Name</th>
			<th>Middle Init.</th>
			<th>Last Name</th>
			<th>Graduation Year</th>
			<th>GPA</th>
		</tr>
		<tr>
			<td>{{ student.first_name }}</td>
			<td>{{ student.middle_initial }}</td>
			<td>{{ student.last_name }}</td>
			<td>{{ student.grad_year }}</td>
			<td>{{ student.gpa }}</td>
			<td>
				<form action="{{ url_for('delete_student', student_id=student.id) }}" method="post">
					<input type="submit" value="Delete"/>
				</form>
			</td>
		</tr>
	</table>
{% endblock %}